body {
  font-family: "Girassol", cursive;
  background-color: lightgray;
}

h2,
p,
.readme-wrapper {
  text-align: center;
}

a {
  text-decoration: none;
  color: deeppink;
}

a:hover {
  cursor: pointer;
  font-weight: bold;
  color: mediumaquamarine;
}

.font-light-blue {
  color: lightskyblue;
  font-weight: bolder;
}

.font-red {
  color: red;
  font-weight: bolder;
}

.font-aqua {
  color: aquamarine;
  font-weight: bolder;
}

.font-maroon {
  color: maroon;
  font-weight: bolder;
}

.boxes {
  margin: 1em;
  padding: 1em;
  border: 3px darkblue solid;
  border-radius: 5px;
  width: 30em;
  display: block;
}

#box1 {
  background-color: royalblue;
}

#box2 {
  background-color: palegoldenrod;
}

#box3 {
  background-color: seagreen;
}

#box4 {
  background-color: slategray;
}

.images {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: chartreuse;
  position: relative;
  left: 150px;
}

h1 {
  color: teal;
}

.original {
  color: deeppink;
}
.additional {
  color: chartreuse;
}
#show1 {
  color: aqua;
}
#show2 {
  color: blue;
}
#show3 {
  color: brown;
}
#show4 {
  color: crimson;
}
#show5 {
  color: darkgreen;
}

ul {color: tomato;}

.star {color: seagreen;}

#wars {color:rgb(255, 0, 170);}

div {border: solid black;}
